@font-face {
  font-family: Inter-Bold;
  src: url(./media/Fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(./media/Fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Thin;
  src: url(./media/Fonts/Inter/static/Inter-Thin.ttf);
}

body {
  background-color: #1F1818;
  color: #DCD4D4;
  font-family: 'Inter-Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  margin: 0rem;
}

